<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/product_style.css">
    <link rel="icon" href="/static/img/icon.ico">
    <title>Products</title>
</head>

<body>
    <!-- Header -->
    <header>
        <nav>
            <!-- logo -->
            <a href="../index.html" class="logo">
                <img src="/static/img/icon.ico" alt="Petshop">
            </a>
                <!-- Hyper links -->
                <ul>
                    <li><a href="/templates/product.html">Productos</a></li>
                    <li><a href="/templates/contact.html">Contacto</a></li>
                    <li><a href="/templates/sign_in.html">Iniciar Sesión</a></li>
                    <li><a href="/templates/sign_up.html">Registrarse</a></li>
                </ul>
        </nav>
    </header>
<!-- separator -->
<h2>GATOS</h2>
<!-- products -->
<section class="products">
    <div>
        <img src="/static/img/product1.webp" alt="">
        <h3>Purina Cat Chow</h3>
        <p>para gatos adultos 18kg</p>
        <p>$200.00</p>
    </div>
    <div>
        <img src="/static/img/producto7.jpeg" alt="">
        <h3>Royal Cann</h3>
        <p>para gatos medianos 18kg</p>
        <p>$400.00</p>
    </div>
    <div>
        <img src="/static/img/producto8.jpeg" alt="">
        <h3>Royal Cann Savour Exigent</h3>
        <p>Para gatos adultos 28kg</p>
        <p>$700.00</p>
    </div>
    <div>
        <img src="/static/img/royal-cann.jpeg" alt="">
        <h3>Royal Cann</h3>
        <p>Para gatos castrados 3kg</p>
        <p>$100.00</p>
    </div>
</section>
<!-- separator -->
<h2>PERROS</h2>
<!-- productos -->
<section class="products">
    <div>
        <img src="/static/img/product5.webp" alt="">
        <h3>Eukanuba</h3>
        <p>Para perros adultos razas grandes 18kg</p>
        <p>$500.00</p>
    </div>
    <div>
        <img src="/static/img/product6.webp" alt="">
        <h3>Old Prince Equilibrum</h3>
        <p>Para perros razas grandes y medianas 23kg</p>
        <p>$600.00</p>
    </div>
    <div>
        <img src="/static/img/product2.webp" alt="">
        <h3>Purina Dog Chow</h3>
        <p>Para perros adultos medianos y grandes 24kg</p>
        <p>$200.00</p>
    </div>
    <div>
        <img src="/static/img/product4.webp" alt="">
        <h3>Royal Cann</h3>
        <p>Para perros adultos 18kg</p>
        <p>$400.00</p>
    </div>
    <div>
        <img src="/static/img/exc-pur-adul.jpeg" alt="">
        <h3>Purina Excellent</h3>
        <p>Para perros adultos 3kg</p>
        <p>$100.00</p>
    </div>
    <div>
        <img src="/static/img/ro-cann.jpeg" alt="">
        <h3>Royal Cann MINI</h3>
        <p>Para perros raza pequeña 3kg</p>
        <p>$100.00</p>
    </div>
</section>
    <footer>
        <!-- Navigation section -->
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/templates/sign_in.html">Iniciar Sesión</a></li>
                <li><a href="/templates/sign_up.html">Registrarse</a></li>
                <li><a href="/templates/contact.html">Contacto</a></li>
            </ul>
        </nav>

        <!-- Payment methods -->
        <div class="payment-methods">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-cc-paypal"></i>
        </div>

        <!-- Social media icons -->
        <div class="social-media">
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/401e7f8f46.js" crossorigin="anonymous"></script>
</body>

</html>
