<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="icon" href="/static/img/icon.ico">
    <title>Petshop</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <!-- logo -->
            <a href="../index.html" class="logo">
                <img src="/static/img/icon.ico" alt="Petshop">
                <!-- Hyper links -->
            <ul>
                <li><a href="/templates/product.html">Productos</a></li>
                <li><a href="/templates/contact.html">Contacto</a></li>
                <li><a href="/templates/sign_in.html">Iniciar Sesión</a></li>
                <li><a href="/templates/sign_up.html">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <h1>Petshop</h1>
</body>
</html>
