<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/sign_in.css" />
    <link rel="icon" href="/static/img/icon.ico" />
    <title>Sign in to Petshop</title>
  </head>

  <body>
    <div class="container">
      <a href="../index.html">
        <img src="/static/img/icon.ico" alt="img" class="center-image" />
      </a>
      <!-- Form for register-->
      <form action="/submit_registration" method="post">
        <label for="email">Correo Electronico:</label><br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="email@example.com"
        />
        <label for="password">Contraseña:</label><br />
        <input type="password" id="password" name="password" />
        <a href="/forgot_password">¿Te olvidaste la contraseña?</a>
        <br />
        <button>Iniciar sesion</button>
      </form>
    </div>

    <div class="container2">
      <p>¿Nuevo en Petshop?</p>
      <a href="/templates/sign_up.html">Crear una cuenta.</a>
    </div>
  </body>
</html>
