<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/sign_up.css">
    <link rel="icon" href="/static/img/icon.ico">
    <title>Join Petshop</title>
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Links -->
        <div>

        </div>
    </header>
    <!-- Formulario -->
    <div class="container">
        <a href="../index.html">
            <img src="/static/img/icon.ico" alt="Your Image" class="center-image">
        </a>
        <!-- Formulario de registro-->
        <form action="/submit_registration" method="post">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="telefono">Telefono (opcional):</label><br>
            <input type="telefono" id="telefono" name="telefono"><br>
            <label for="contra">Contraseña:</label><br>
            <input type="contra" id="contra" name="contra"><br>
            <label for="confirme-contra">Confirme la contraseña:</label><br>
            <input type="contra" id="confirme-contra" name="confirme-contra"><br>
            <span>Ya tiene una cuenta?</span>
            <ul>
                <li><a href="/templates/sign_in.html">Registrese →</a></li>
            </ul>
            <button>Crear cuenta nueva</button>
        </form>
    </div>
</body>

</html>