@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
}

/* estilo del encabezado */
header {
    background-color: #FCFCFC;
    padding: 1rem; 
}

header h1 {
    font-size: 1.5rem; 
}

header p {
    font-size: 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem; /* para espacio */
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

header img {
    width: 10%; 
    min-width: 60px; 
    max-width: 200px; 
    height: auto; 
}

/* Usando media queries para ajustar la imagen según el tamaño de la pantalla */
@media (min-width: 600px) {
    header img {
        width: 45%; /* Aumenta el tamaño de la imagen a medida que el espacio disponible crece */
        min-width: 80px; /* Tamaño mínimo mayor para pantallas más grandes */
    }
}

@media (min-width: 1024px) {
    header img {
        width: 60%; /* Aún más grande para pantallas grandes */
        min-width: 100px; /* Tamaño mínimo para pantallas grandes */
    }
}

h2 {
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    background-color: hsl(36, 87%, 51%);
    color: white;
}

/* estilo de los productos */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem; 
}

.products div {
    flex: 1 1 300px; 
    text-align: center; 
}

.products img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
}


/* estilo del pie de pagina */
footer {
    background-color: hsl(36, 87%, 51%);  
    color: white;         
    padding: 20px;         
    display: flex;
    justify-content: space-between; 
    align-items: center;  
  }
  
  /* estilos de navegacion */
  nav ul {
    list-style: none; 
    padding: 0;       
    margin: 0;        
    display: flex;    
  }
  
  nav ul li {
    margin-right: 20px; 
  }
  
  nav ul li a {
    text-decoration: none; 
    color: white;          
  }
  
  nav ul li a:hover {
    color: #ddd; /* cambiar color en hover*/
  }
  
  /* estilo de metodos de pago */
  .payment-methods {
    display: flex; 
  }
  
  .payment-methods i {
    font-size: 24px; /* tamaño del icono */
    margin-right: 10px; /* distancia entre iconos */
    color: white;  
  }
  
  /* Social media styles */
  .social-media {
    display: flex; /* Display as a horizontal row */
  }
  
  .social-media a {
    text-decoration: none; /* No underline for links */
  }
  
  .social-media i {
    font-size: 24px; 
    margin-right: 10px; 
    color: white;  
  }
  
  .social-media i:hover {
    color: #ddd; 
  }
