@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #ffffff;
  padding: 1rem;
}

header h1 {
  font-size: 1.5rem;
  /* Using rem for font sizes */
}

header p {
  font-size: 1rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* Allow wrapping on smaller screens */
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  /* Using gap for spacing */
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

header img {
  width: 10%;
  min-width: 60px;
  max-width: 200px;
  height: auto;
}

/* Usando media queries para ajustar la imagen según el tamaño de la pantalla */
@media (min-width: 600px) {
  header img {
    width: 45%;
    /* Aumenta el tamaño de la imagen a medida que el espacio disponible crece */
    min-width: 80px;
    /* Tamaño mínimo mayor para pantallas más grandes */
  }
}

@media (min-width: 1024px) {
  header img {
    width: 60%;
    /* Aún más grande para pantallas grandes */
    min-width: 100px;
    /* Tamaño mínimo para pantallas grandes */
  }
}

h2 {
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  background-color: hsl(36, 87%, 51%);
  color: white;
}

/* Product Styles */
.products {
  display: flex;
  flex-wrap: wrap;
  /* Allowing flexibility */
  justify-content: center;
  /* Centering content */
  gap: 2rem;
  /* Adding space between items */
}

.products div {
  flex: 1 1 300px;
  /* Flexible width with a minimum */
  text-align: center;
  margin-bottom: 15px;
  /* Center content */
}

.products img {
  width: 100%;
  max-width: 300px;
  /* Responsive width */
  height: auto;
  /* Maintain aspect ratio */
}

/* Footer base styles */
footer {
  background-color: hsl(36, 87%, 51%);
  /* Dark background color */
  color: white;
  /* White text color */
  padding: 20px;
  /* Padding around the footer */
  display: flex;
  justify-content: space-between;
  /* Distribute items across the width */
  align-items: center;
  /* Align items vertically */
}

/* Navigation styles */
nav ul {
  list-style: none;
  /* Remove bullet points from the list */
  padding: 0;
  /* Remove default padding */
  margin: 0;
  /* Remove default margin */
  display: flex;
  /* Display as a horizontal row */
}

nav ul li {
  margin-right: 20px;
  /* Spacing between items */
}

nav ul li a {
  text-decoration: none;
  /* Remove underline from links */
  color: white;
  /* Keep text white */
}

nav ul li a:hover {
  color: #ddd;
  /* Change color on hover */
}

/* Payment methods styles */
.payment-methods {
  display: flex;
  /* Display as a horizontal row */
}

.payment-methods i {
  font-size: 24px;
  /* Icon size */
  margin-right: 10px;
  /* Spacing between icons */
  color: white;
  /* White icon color */
}

/* Social media styles */
.social-media {
  display: flex;
  /* Display as a horizontal row */
}

.social-media a {
  text-decoration: none;
  /* No underline for links */
}

.social-media i {
  font-size: 24px;
  /* Icon size */
  margin-right: 10px;
  /* Spacing between icons */
  color: white;
  /* White icon color */
}

.social-media i:hover {
  color: #ddd;
  /* Change color on hover */
}

@media (min-width: 0px) and (max-width: 600px) {

  footer {
    padding: 20px;
    /* Padding around the footer */
    display: block;
    justify-content: space-between;
    /* Distribute items across the width */
    align-items: center;
  }

  /* Payment methods styles */
  .payment-methods {
    display: flex;
    /* Display as a horizontal row */
  }

  .social-media {
    display: flex;
  }


  .payment-methods,
  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .box-nav {
    display: flex;
    flex-wrap: wrap;
  }

  header nav ul {
    flex-wrap: wrap;
  }

  header nav ul li a {
    font-size: 12px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  footer {
    padding: 20px;
    /* Padding around the footer */
    display: block;
    justify-content: space-between;
    /* Distribute items across the width */
    align-items: center;
  }

  /* Payment methods styles */
  .payment-methods {
    display: flex;
    /* Display as a horizontal row */
  }

  .social-media {
    display: flex;
  }


  .payment-methods,
  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .box-nav {
    display: flex;
    flex-wrap: wrap;
  }
}


@media (min-width: 1024px) {
  footer {
    padding: 20px;
    /* Padding around the footer */
    display: flex;
    justify-content: space-between;
    /* Distribute items across the width */
    align-items: center;
  }

  /* Payment methods styles */
  .payment-methods {
    display: flex;
    /* Display as a horizontal row */
  }

  .social-media {
    display: flex;
  }

}